@model (List<Administrador> Administradores, List<Cliente> Clientes)
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Utilizadores";
}

@if (TempData["Sucesso"] != null)
{
    <p class="alert alert-success">@TempData["Sucesso"]</p>
}

<h4>Administradores</h4>

<a asp-action="AdicionarAdministrador">Adicionar administrador</a>

<ul>
    @foreach (var administrador in Model.Administradores)
    {
        <li>
            @administrador.NomeDeUtilizador |
            @if (administrador.NomeDeUtilizador != User.Identity.Name)
            {
                <a asp-action="RemoverUtilizador" asp-route-nomeDeUtilizador="@administrador.NomeDeUtilizador">Remover</a>
            }
        </li>
    }
</ul>

<h4>Clientes</h4>

<ul>
    @foreach (var cliente in Model.Clientes)
    {
        <li>
            @cliente.NomeDeUtilizador
            | <a asp-action="RemoverUtilizador" asp-route-nomeDeUtilizador="@cliente.NomeDeUtilizador">Remover</a>
        </li>
    }
</ul>
