@{
    //ViewData["Title"] = "Bela Sopa - Receitas";
    Layout = "~/Views/shared/_Layout.cshtml";
    var etiquetas = ViewData["Etiquetas"] as App.Models.Assistente.Etiqueta[];
    var receitas = ViewData["Receitas"] as App.Models.Assistente.Receita[];
}
@model App.Controllers.HomeController
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Receitas</h3>
<div class="container" style="border-bottom: 1px solid #717171;">
    <div class="row">
        <div class="col-sm">
            <form class="form-inline md-form form-sm active-cyan-2 mt-2">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </form>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" id="etiquetasSel">
                    <option>Etiquetas</option>
                    @foreach (var etiqueta in etiquetas) {
                        <option>@etiqueta.Nome</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <select class="form-control" id="sel1">
                    <option>Dificuldade</option>
                    <option>Facil</option>
                    <option>Medio</option>
                    <option>Dificil</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:2%;">
    @for(var i = 0; i < receitas.Length; ) {
    <div class="row ReceitasLinha">
        @{ var j = 0;}
        @for ( ; j < 3 && i < receitas.Length; j++, i++) {
            <div class="col-sm Receita">
                <a href="#">
                    <img class="ReceitaImg" src=@receitas[i].ImagePath alt="Receita 1" />
                    <p>@receitas[i].Nome</p>
                </a>
                @if (@receitas[i].Dificuldade == "Facil") {
                    <i class="fas fa-signal" style="color:green;"></i>
                }
                @if (@receitas[i].Dificuldade == "Medio") {
                    <i class="fas fa-signal" style="color:orange;"></i>
                }
                @if (@receitas[i].Dificuldade == "Dificil") {
                    <i class="fas fa-signal" style="color:red;"></i>
                }

            <span style="margin-left:5%;">@receitas[i].Tempo min <i class="fas fa-clock"></i></span>
            <span style="margin-left:5%;">@receitas[i].NPessoas Pessoas</span>
            </div>
        }
        @for(; j < 3; j++) {
            <div class="col-sm Receita">
            </div>
        }
    </div>
    }
</div>

