@model (Receita Receita, IList<Tecnica> Tecnicas, IList<Utensilio> Utensilios, bool Favorita)
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = Model.Receita.Nome;
    ViewData["HideHeading"] = true;
    ViewData["ShowBackButton"] = true;
}
<div class="container-fluid">
    <div class="row">
        @*<div class="col-sm-6" style="border-right: 3px solid #4CAF50;">*@
        <div class="col-sm-7 border-right">
            <h2>
                @Model.Receita.Nome

                <a asp-controller="Receitas" asp-action="ToggleFavorito" asp-route-id="@Model.Receita.ReceitaId">
                    @if (@Model.Favorita) {
                        <i class="fas fa-star" style="color: gold;"></i>
                    } else {
                        <i class="far fa-star" style="color: silver;"></i>
                    }
                </a>
            </h2>
            @switch (Model.Receita.Dificuldade) {
                case Dificuldade.Facil:
                    <span><i class="fas fa-signal" style="color: green; margin-right: 0.5em;"></i>Fácil</span>
                    break;

                case Dificuldade.Media:
                    <span><i class="fas fa-signal" style="color: orange; margin-right: 0.5em;"></i>Média</span>
                    break;

                case Dificuldade.Dificil:
                    <span><i class="fas fa-signal" style="color: red; margin-right: 0.5em;"></i>Difícil</span>
                    break;
            }
            &nbsp;|&nbsp;
            <span><i class="fas fa-clock" style="margin-right: 0.5em;"></i>@Model.Receita.MinutosPreparacao min</span>
            &nbsp;|&nbsp;
            <span>@Model.Receita.NumeroDoses doses</span>
            <p style="margin-top: 1em">@Model.Receita.Descricao</p>
            <div style="text-align:left;margin-top: 1em;">
                <strong>Etiquetas:</strong>&nbsp;
                @{
                    var first = true;

                    foreach (var etiqueta in Model.Receita.ReceitaEtiqueta.Select(e => e.Etiqueta.Nome).OrderBy(e => e)) {
                        if (!first) {
                            <text>&nbsp;&nbsp;|&nbsp;&nbsp;</text>
                        }

                        <text>@etiqueta</text>

                        first = false;
                    }

                    if (first) {
                        <text>(nenhuma)</text>
                    }
                }
                @*<ul class="CustomBullet" style="text-align:left;list-style: none">
                        @foreach (var etiqueta in Model.Receita.ReceitaEtiqueta.OrderBy(e => e.Etiqueta.Nome))
                        {
                            <li>
                                @etiqueta.Etiqueta.Nome
                            </li>
                        }
                    </ul>*@
            </div>
        </div>
        <div class="col-sm-5">
            <img src="data:image/*;base64,@Util.BytesToBase64(Model.Receita.Imagem)"
                 alt=""
                 style="max-width: 100%; object-fit: cover;" />
            @*<a asp-controller="Receitas" asp-action="ToggleFavorito" asp-route-id="@Model.Receita.ReceitaId">
                    @if (@Model.Favorita)
                    {
                        <i class="fas fa-star" style="color: gold; position: absolute; left: 1em; top: 0.5em; font-size: 2em"></i>
                    }
                    else
                    {
                        <i class="far fa-star" style="color: silver; position: absolute; left: 1em; top: 0.5em; font-size: 2em"></i>
                    }
                </a>*@
        </div>
    </div>
</div>

<hr />

<div class="container-fluid" style="padding: 0px;">
    <div class="row">
        <div class="col-6 border-right">
            <h4>Ingredientes <small class="text-muted">para @Model.Receita.NumeroDoses doses</small></h4>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var utilizacaoIngrediente in Model.Receita.UtilizacoesIngredientes.OrderBy(ui => ui.Nome)) {
                        <tr>
                            <td>
                                @if (utilizacaoIngrediente.Ingrediente != null) {
                                    <a asp-controller="Ingredientes"
                                       asp-action="Detalhes"
                                       asp-route-id="@utilizacaoIngrediente.Ingrediente.IngredienteId">
                                        @utilizacaoIngrediente.Nome
                                    </a>
                                } else {
                                    <text>@utilizacaoIngrediente.Nome</text>
                                }
                            </td>
                            <td>@utilizacaoIngrediente.Quantidade</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-3 border-right">
            <h4>Técnicas</h4>
            <ul>
                @if (Model.Tecnicas.Count == 0) {
                    <li>(nenhuma)</li>
                } else {
                    foreach (var tecnica in Model.Tecnicas) {
                        <li>
                            <a asp-controller="Tecnicas" asp-action="Detalhes" asp-route-id="@tecnica.TecnicaId">@tecnica.Nome</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-3">
            <h4>Utensílios</h4>
            <ul>
                @if (Model.Utensilios.Count == 0) {
                    <li>(nenhum)</li>
                } else {
                    @foreach (var utensilio in Model.Utensilios) {
                        <li>
                            <a asp-controller="Utensilios" asp-action="Detalhes" asp-route-id="@utensilio.UtensilioId">@utensilio.Nome</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<hr />
<h4>Valores nutricionais</h4>
<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">Dose</th>
            <th scope="col">% do VDR adulto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var valor in Model.Receita.ValoresNutricionais.OrderBy(vn => vn.Nome)) {
            <tr>
                @if (valor.Nome.Contains(',')) {
                    <td style="padding-left: 2em;"><i>@valor.Nome.Substring(valor.Nome.IndexOf(',') + 2)</i></td>
                } else {
                    <td>@valor.Nome</td>
                }
                <td>@valor.Dose</td>
                <td>
                    @if (@valor.PercentagemVdrAdulto != null) {@valor.PercentagemVdrAdulto<text>%</text>}
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4>Passos</h4>
<ul class="CustomBullet" style="text-align:left;list-style: none;">
    @foreach (var processo in Model.Receita.Processos.OrderBy(p => p.Indice)) {
        <li>
            <ul style="text-align:left;">
                @foreach (var tarefa in processo.Tarefas.OrderBy(t => t.Indice)) {
                    <li>
                        @foreach (var texto in tarefa.Texto.OrderBy(t => t.Indice)) {
                            if (texto.IngredienteId != null) {
                                <a asp-controller="Ingredientes" asp-action="Detalhes" asp-route-id="@texto.IngredienteId">@texto.Texto</a>
                            } else if (texto.TecnicaId != null) {
                                <a asp-controller="Tecnicas" asp-action="Detalhes" asp-route-id="@texto.TecnicaId">@texto.Texto</a>
                            } else if (texto.UtensilioId != null) {
                                <a asp-controller="Utensilios" asp-action="Detalhes" asp-route-id="@texto.UtensilioId">@texto.Texto</a>
                            } else {
                                <text>@texto.Texto</text>
                            }
                        }
                    </li>
                }
            </ul>
        </li>
    }
</ul>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confecionar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem todos os ingredientes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <form asp-controller="Receitas" asp-action="ConfecionarReceita" asp-route-id="@Model.Receita.ReceitaId" asp-route-idTarefa="0">
                    <button style="background-color:#4CAF50; border-color: #4CAF50;" type="submit" class="btn btn-primary">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>
@if (User.HasClaim(ClaimTypes.Role, Autenticacao.ROLE_CLIENTE)) {
    <button style="background-color:#4CAF50; border-color: #4CAF50;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Confecionar
    </button>

}
