@model Receita
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = Model.Nome;
}

<p>Dificuldade: @Model.Dificuldade.ToString()</p>
<p>Tempo de preparação: @Model.MinutosPreparacao minutos</p>
<p>Número de doses: @Model.NumeroDoses</p>

<p class="font-italic">@Model.Descricao</p>

<h4>Ingredientes</h4>

<ul>
    @foreach (var ingredienteUtilizado in Model.Ingredientes)
    {
        <li>
            @if (ingredienteUtilizado.Ingrediente != null)
            {
                <a
                    asp-controller="Ingredientes"
                    asp-action="Detalhes"
                    asp-route-id="@ingredienteUtilizado.Ingrediente.IngredienteId"
                    >
                    @ingredienteUtilizado.Nome (@ingredienteUtilizado.Quantidade)
                </a>
            }
            else
            {
                <text>@ingredienteUtilizado.Nome (@ingredienteUtilizado.Quantidade)</text>
            }
        </li>
    }
</ul>

<h4>Valores nutricionis</h4>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">Dose</th>
            <th scope="col">% do VDR adulto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var valor in Model.ValoresNutricionais)
        {
            <tr>
                <td>@valor.Nome</td>
                <td>@valor.Dose</td>
                <td>@if (@valor.PercentagemVdrAdulto != null) { @valor.PercentagemVdrAdulto<text>%</text> }</td>
            </tr>
        }
    </tbody>
</table>

<ul>
    @foreach (var processo in Model.Processos)
    {
        <li>
            <ul>
                @foreach (var tarefa in processo.Tarefas)
                {
                    <li>@tarefa.Texto</li>
                }
            </ul>
        </li>
    }
</ul>

<img
    src="data:image/*;base64,@Util.BytesToBase64(Model.Imagem)"
    alt=""
    style="max-width: 100%; object-fit: cover;"
    />

<hr />
