@model (Receita Receita, IEnumerable<Tecnica> Tecnicas, IEnumerable<Utensilio> Utensilios, bool Favorita)
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = Model.Receita.Nome;
    ViewData["HideHeader"] = true;
    ViewData["ShowBackButton"] = true;
}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img src="data:image/*;base64,@Util.BytesToBase64(Model.Receita.Imagem)"
                 alt="@Model.Receita.Nome"
                 style="max-width: 100%; object-fit: cover;" />
            <a asp-controller="Receitas" asp-action="ToggleFavorito" asp-route-id="@Model.Receita.ReceitaId">
                @if (@Model.Favorita)
                {
                    //Dentro Favoritos
                    <i class="fas fa-star" style="color:gold;position:absolute; left:1em; top:0.5em; font-size:2em"></i>
                }
                else
                {
                    //Dos Favoritos
                    <i class="far fa-star" style="color:gold;position:absolute; left:1em; top:0.5em; font-size:2em"></i>
                }
            </a>
        </div>
        <div class="col-sm-4" style="text-align:center;border-left: 3px solid #4CAF50;">
            <h4>@Model.Receita.Nome</h4>
            @if (Model.Receita.Dificuldade == Dificuldade.Facil)
            {
                <span><i class="fas fa-signal" style="color: green; margin-right: 0.5em;"></i>Fácil</span>
            }
            @if (Model.Receita.Dificuldade == Dificuldade.Media)
            {
                <span><i class="fas fa-signal" style="color: orange; margin-right: 0.5em;"></i>Média</span>
            }
            @if (Model.Receita.Dificuldade == Dificuldade.Dificil)
            {
                <span><i class="fas fa-signal" style="color: red; margin-right: 0.5em;"></i>Difícil</span>
            }
            <span style="margin-left:1em;"><i class="fas fa-clock" style="margin-right: 0.5em;"></i>@Model.Receita.MinutosPreparacao min</span>
            <span style="margin-left:1em;">@Model.Receita.NumeroDoses doses</span>
            <div style="text-align:left;margin-top:1em;">
                Etiquetas:
                <ul class="CustomBullet" style="text-align:left;list-style: none">
                    @foreach (var etiqueta in Model.Receita.ReceitaEtiqueta.OrderBy(e => e.Etiqueta.Nome))
                    {
                        <li>
                            @etiqueta.Etiqueta.Nome
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<p class="font-italic" style="margin-top:3em">@Model.Receita.Descricao</p>
<hr />
<h4 style="margin-top:2em;">Ingredientes</h4>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utilizacaoIngrediente in Model.Receita.UtilizacoesIngredientes.OrderBy(ui => ui.Nome))
        {
            <tr>
                <td>
                    @if (utilizacaoIngrediente.Ingrediente != null)
                    {
                        <a asp-controller="Ingredientes"
                           asp-action="Detalhes"
                           asp-route-id="@utilizacaoIngrediente.Ingrediente.IngredienteId">
                            @utilizacaoIngrediente.Nome
                        </a>
                    }
                    else
                    {
                        <text>@utilizacaoIngrediente.Nome</text>
                    }
                </td>
                <td>@utilizacaoIngrediente.Quantidade</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4 style="margin-top:2em;">Técnicas</h4>
<ul>
    @foreach (var tecnica in Model.Tecnicas)
    {
        <li>
            <a asp-controller="Tecnicas" asp-action="Detalhes" asp-route-id="@tecnica.TecnicaId">@tecnica.Nome</a>
        </li>
    }
</ul>
<hr />
<h4 style="margin-top:2em;">Utensílios</h4>
<ul>
    @foreach (var utensilio in Model.Utensilios)
    {
        <li>
            <a asp-controller="Utensilios" asp-action="Detalhes" asp-route-id="@utensilio.UtensilioId">@utensilio.Nome</a>
        </li>
    }
</ul>
<hr />
<h4 style="margin-top:2em;">Valores nutricionais</h4>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">Dose</th>
            <th scope="col">% do VDR adulto</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 0;}
        @foreach (var valor in Model.Receita.ValoresNutricionais.OrderBy(vn => vn.Nome))
        {
            if (i == 0)
            {
                <tr>
                    <td>@valor.Nome</td>
                    <td>@valor.Dose</td>
                    <td>
                        @if (@valor.PercentagemVdrAdulto != null)
                        {@valor.PercentagemVdrAdulto<text>%</text>}
                    </td>
                </tr>
                i++;
            }
            else
            {
                <tr id="ValoresNut">
                    <td>@valor.Nome</td>
                    <td>@valor.Dose</td>
                    <td>
                        @if (@valor.PercentagemVdrAdulto != null)
                        {@valor.PercentagemVdrAdulto<text>%</text>}
                    </td>
                </tr>
                i--;
            }
        }
    </tbody>
</table>
<hr />
<h4 style="margin-top:2em;">Processos</h4>
<ul class="CustomBullet" style="text-align:left;list-style: none;">
    @foreach (var processo in Model.Receita.Processos.OrderBy(p => p.Indice))
    {
        <li>
            <ul style="text-align:left;">
                @foreach (var tarefa in processo.Tarefas.OrderBy(t => t.Indice))
                {
                    <li>
                        @foreach (var texto in tarefa.Texto.OrderBy(t => t.Indice))
                        {
                            if (texto.IngredienteId != null)
                            {
                                <a asp-controller="Ingredientes" asp-action="Detalhes" asp-route-id="@texto.IngredienteId">@texto.Texto</a>
                            }
                            else if (texto.TecnicaId != null)
                            {
                                <a asp-controller="Tecnicas" asp-action="Detalhes" asp-route-id="@texto.TecnicaId">@texto.Texto</a>
                            }
                            else if (texto.UtensilioId != null)
                            {
                                <a asp-controller="Utensilios" asp-action="Detalhes" asp-route-id="@texto.UtensilioId">@texto.Texto</a>
                            }
                            else
                            {
                                <text>@texto.Texto</text>
                            }
                        }
                        @{
                            var duracaoTemporizador = tarefa.GetDuracaoTemporizador();

                            if (duracaoTemporizador != null)
                            {
                                <text><strong>(eu sou um temporizador de @duracaoTemporizador minutos)</strong></text>
                            }
                        }
                    </li>
                }
            </ul>
        </li>
    }
</ul>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confecionar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem todos os ingredientes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <form asp-controller="Receitas" asp-action="ConfecionarReceita">
                    <button style="background-color:#4CAF50; border-color: #4CAF50;" type="submit" class="btn btn-primary">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>
@if (User.HasClaim(ClaimTypes.Role, Autenticacao.ROLE_CLIENTE))
{
    <button style="background-color:#4CAF50; border-color: #4CAF50;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Confecionar
    </button>
}
