@model (List<Etiqueta> Etiquetas, List<Receita> Receitas)
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = ViewData["Title"] ?? "Receitas";
    ViewData["HideHeading"] = true;
}

<h2>
    @ViewData["Title"]
    <a asp-controller="CriarReceita" asp-action="Index" class="btn btn-primary" style="margin-left: 0.5em">
        <i class="fas fa-plus-square" style="margin-right: 5px;"></i> Criar receita
    </a>
</h2>

<form asp-action="@ViewContext.RouteData.Values["Action"]" method="get" class="form-inline md-form form-sm active-cyan-2 mt-2">
    <div class="container" style="padding-bottom:1em; border-bottom: 1px solid #717171;">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input style="width:95%;height:2.6em;margin-top:0.1em;margin-left:0.4em;" type="text" name="nome" value="@ViewData["nome"]" onchange="this.form.submit()"
                           placeholder="Nome" aria-placeholder="Nome" class="form-control form-control-sm">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <select name="etiqueta" class="form-control" onchange="this.form.submit()">
                        <option value="">Qualquer etiqueta</option>
                        @foreach (var etiqueta in Model.Etiquetas)
                        {
                            if (etiqueta.EtiquetaId == ViewData["etiqueta"] as int?)
                            {
                                <option selected value="@etiqueta.EtiquetaId">@etiqueta.Nome</option>
                            }
                            else
                            {
                                <option value="@etiqueta.EtiquetaId">@etiqueta.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <select name="dificuldade" class="form-control" onchange="this.form.submit()">
                        @switch (ViewData["dificuldade"] as Dificuldade?)
                        {
                            case null:
                                <option selected value="">Qualquer dificuldade</option>
                                <option value="@Dificuldade.Facil">Dificuldade fácil</option>
                                <option value="@Dificuldade.Media">Dificuldade média</option>
                                <option value="@Dificuldade.Dificil">Dificuldade difícil</option>
                                break;

                            case Dificuldade.Facil:
                                <option value="">Qualquer dificuldade</option>
                                <option selected value="@Dificuldade.Facil">Dificuldade fácil</option>
                                <option value="@Dificuldade.Media">Dificuldade média</option>
                                <option value="@Dificuldade.Dificil">Dificuldade difícil</option>
                                break;

                            case Dificuldade.Media:
                                <option value="">Qualquer dificuldade</option>
                                <option value="@Dificuldade.Facil">Dificuldade fácil</option>
                                <option selected value="@Dificuldade.Media">Dificuldade média</option>
                                <option value="@Dificuldade.Dificil">Dificuldade difícil</option>
                                break;

                            case Dificuldade.Dificil:
                                <option value="">Qualquer dificuldade</option>
                                <option value="@Dificuldade.Facil">Dificuldade fácil</option>
                                <option value="@Dificuldade.Media">Dificuldade média</option>
                                <option selected value="@Dificuldade.Dificil">Dificuldade difícil</option>
                                break;
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="container" style="margin-top:1em;">
    @for (var i = 0; i < Model.Receitas.Count;)
    {
        <div class="row ReceitasLinha">
            @{ var j = 0;}
            @for (; j < 3 && i < Model.Receitas.Count; j++, i++)
            {
                <div class="col-sm Receita">
                    <a asp-action="@(ViewData["Action"] ?? "Detalhes")"
                       asp-route-diaDaSemana="@ViewData["DiaDaSemana"]"
                       asp-route-refeicaoDoDia="@ViewData["RefeicaoDoDia"]"
                       asp-route-id="@Model.Receitas[i].ReceitaId">
                        <img class="ReceitaImg" src="@GestorImagens.GetPathImagemReceita(Url, Model.Receitas[i].ReceitaId)" alt="" />
                        <p>@Model.Receitas[i].Nome</p>
                    </a>
                    <div style="margin-top:-0.7em;">
                        @switch (Model.Receitas[i].Dificuldade)
                        {
                            case Dificuldade.Facil:
                                <span><i class="fas fa-signal" style="color: green; margin-right: 0.5em;"></i>Fácil</span>
                                break;

                            case Dificuldade.Media:
                                <span><i class="fas fa-signal" style="color: orange; margin-right: 0.5em;"></i>Média</span>
                                break;

                            case Dificuldade.Dificil:
                                <span><i class="fas fa-signal" style="color: red; margin-right: 0.5em;"></i>Difícil</span>
                                break;
                        }
                        &nbsp;|&nbsp;
                        <span><i class="fas fa-clock" style="margin-right: 0.5em;"></i>@Model.Receitas[i].MinutosPreparacao min</span>
                        &nbsp;|&nbsp;
                        <span>@Model.Receitas[i].NumeroDoses doses</span>
                    </div>
                </div>
            }
            @for (; j < 3; j++)
            {
                <div class="col-sm Receita">
                </div>
            }
        </div>
    }
</div>
