@model (Utensilio Utensilio, Receita[] Receitas, List<(string Titulo, List<string> Paragrafos)> Seccoes)
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = Model.Utensilio.Nome;
    ViewData["ShowBackButton"] = true;
}

<p class="font-italic">@Model.Utensilio.Descricao</p>

<img
    src="data:image/*;base64,@Util.BytesToBase64(Model.Utensilio.Imagem)"
    alt=""
    style="max-width: 100%; object-fit: cover;"
    />

<hr />

@foreach (var seccao in Model.Seccoes)
{
    if (seccao.Titulo != null)
    {
        <h4>@seccao.Titulo</h4>
    }

    foreach (var paragrafo in seccao.Paragrafos)
    {
        <p>@paragrafo</p>
    }
}

@if (Model.Receitas.Length > 0)
{
    <hr />
    <h4>Receitas que utilizam este utensílio</h4>

    <ul>
        @foreach (var receita in Model.Receitas)
        {
            <li>
                <a asp-controller="Receitas" asp-action="Detalhes" asp-route-id="@receita.ReceitaId">@receita.Nome</a>
            </li>
        }
    </ul>
}
