@model List<ClienteReceitaFinalizada>
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Histórico";
}
<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Receita</th>
                <th scope="col">Data</th>
                <th score="col">Duração (min)</th>
                <th score="col">Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receitaFinalizada in @Model)
            {
                <tr>
                    <td><a asp-controller="Receitas" asp-action="Detalhes" asp-route-id="@receitaFinalizada.ReceitaId">@receitaFinalizada.Receita.Nome</a></td>
                    <td>@receitaFinalizada.DataInicio.ToString()</td>
                    <td>@receitaFinalizada.GetDuraçãoMinutos() min</td>
                    @if (receitaFinalizada.AvaliacaoDificuldade != null) {
                    <td>@receitaFinalizada.AvaliacaoDificuldade.Value.GetNome()</td>
                    } else {<td>---</td> }
                </tr>
            }
        </tbody>
    </table>
</div>
