
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Ementa Semanal";
    string[] dias = { "Segunda-Feira", "Terça-Feira", "Quarta-Feira", "Quinta-Feira", "Sexta-Feira", "Sábado", "Domingo" };
}
@model  Dictionary<int, Receita>


    <div class="table-responsive-sm">
        <table class="table">
            <caption>Ementa Semanal</caption>
            <thead>
                <tr>
                    <th> # </th>
                    @foreach (var dia in dias) {
                        <div class="col-sm diaDaSemana bordered">
                            <th scope="col">@dia</th>
                        </div>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Almoço</th>
                    @for (int i = 0; i < dias.Length; i++) {
                        var almoco = i + 1;
                        <td>
                            @if (@Model.ContainsKey(almoco)) {

                                <span>@Model[almoco].Nome</span>
                                <img class="ReceitaImg" src="data:image/*;base64,@Util.BytesToBase64(Model[almoco].Imagem)" alt="" />
                                <a asp-controller="EmentaSemanal"
                                   asp-action="RemoverReceita"
                                   asp-route-id="@almoco">Remover receita</a>

                            } else {
                                <!-- Adicionar aqui algo para quando não há receita-->
                                <a asp-controller="EmentaSemanal"
                                   asp-action="VerReceitas" asp-route-data="@almoco">Adicionar receita</a>
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <th scope="row">Jantar</th>
                    @for (int i = 0; i < dias.Length; i++) {
                        var jantar = i + 1 + dias.Length;

                        <td>
                            @if (Model.ContainsKey(jantar)) {

                                <span>@Model[jantar].Nome</span>
                                <img class="ReceitaImg" src="data:image/*;base64,@Util.BytesToBase64(Model[jantar].Imagem)" alt="" />
                                <a asp-controller="Receitas"
                                   asp-action="Index"
                                   asp-route-id="@jantar">Remover receita</a>

                            } else {
                                <!-- Adicionar aqui algo para quando não há receita-->
                                <a asp-controller="EmentaSemanal"
                                   asp-action="VerReceitas" asp-route-data="@jantar">Adicionar receita</a>
                            }
                        </td>
                    }
                </tr>
            </tbody>
        </table>
        <form asp-controller="EmentaSemanal" asp-action="GerarListaIngredientes">
            <button type="submit" class="btn btn-success">Gerar Lista de Ingredientes</button>
        </form>
    </div>
