
@model CriarReceitaViewModel
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Ingredientes";
}

<form asp-controller="CriarReceita" method="post" id="receitaForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.UtilizacoesIngredientes.Count == 0) {
        <div class="form-group col"></div>
        <div class="form-group col"></div>
    }
    @for (int i = 0; i < Model.UtilizacoesIngredientes.Count; i++) {
    <div class="container row">
        <div class="form-group col">
            <label asp-for="@Model.UtilizacoesIngredientes[i].Nome" class="control-label"></label>
            <input asp-for="@Model.UtilizacoesIngredientes[i].Nome" class="form-control" />
            <span asp-validation-for="@Model.UtilizacoesIngredientes[i].Nome" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label class="control-label"> Quantidade </label>
            <input asp-for="@Model.Quantidades[i]" class="form-control" />
        </div>
        <div class="form-group col">
            <label class="control-label"> Unidade </label>
            <input asp-for="@Model.UtilizacoesIngredientes[i].Quantidade" class="form-control" />
            <span asp-validation-for="@Model.UtilizacoesIngredientes[i].Quantidade" class="text-danger"></span>
           
        </div>
            <div class="col-1">
                <button asp-action="RemoverIngrediente" asp-route-num="@i" type="submit" class="btn btn-block btn-primary" style="background-color:#fafafa;margin-top:2em;border:none;outline:none;box-shadow: 0 1px 0 0 #fafafa;"><i class="fas fa-trash" style="color:red;"></i></button>
            </div>
            
    </div>
    }
    <div class="row">
        <div class="form-group col-md-2">
            <input asp-action="NovoIngrediente" type="submit" value="Novo ingrediente" class="btn btn-success" />
        </div>
        <div class="form-group col-md-2">
            <input asp-action="Index" type="submit" value="Submeter" class="btn btn-success" />
        </div>
    </div>

    <!-- THE BELLOW HTML IS HIDDEN-->
    <div class="container" style="visibility:hidden">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="NomeDeReceita" class="control-label"></label>
                    <input asp-for="NomeDeReceita" class="form-control" />
                    <span asp-validation-for="NomeDeReceita" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sel1">Dificuldade:</label>
                    <select class="form-control" id="sel1" asp-for="DificuldadeStr" asp-items="Model.Dificuldades"></select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Minutos" class="control-label"></label>
                    <input asp-for="Minutos" class="form-control" />
                    <span asp-validation-for="Minutos" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Doses" class="control-label"></label>
                    <input asp-for="Doses" class="form-control" />
                    <span asp-validation-for="Doses" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Descricao</label>
            <br />
            <textarea class="form-control" rows="3" asp-for="Descricao" value="@Model.Descricao" form="receitaForm"> </textarea>
            <br />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="row">
            <label>Etiquetas</label><br />
            @for (int i = 0; i < Model.ReceitaEtiqueta.Count; i++) {
                <select class="form-control" asp-for="@Model.ReceitaEtiqueta[i]" asp-items="Model.Etiquetas"></select>
            }
        </div>

        <div class="form-group">
            <input asp-action="Index" type="submit" value="Submeter" class="btn btn-primary" />
        </div>
        @for (int i = 0; i < Model.Processos.Count; i++) {
            @for (int j = 0; j < Model.Processos[i].Count; j++) {
                <div class="form-group">
                    <label class="control-label"> Tarefa @i</label>
                    <input asp-for="@Model.Processos[i][j]" class="form-control" />
                    <span asp-validation-for="@Model.Processos[i][j]" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input asp-action="NovaTarefa" type="submit" value="Adicionar tarefa" class="btn btn-primary" />
            </div>

        }

        @for (int i = 0; i < Model.NomeValorNutricionais.Count; i++) {
            <div class="form-group col">
                <label class="control-label"> Valor Nutricional </label>
                <input asp-for="@Model.NomeValorNutricionais[i]" class="form-control" />
            </div>
            <div class="form-group col">
                <label class="control-label"> Valor de referência </label>
                <input asp-for="@Model.PorDose[i]" class="form-control" />
            </div>
            <div class="form-group col">
                <label class="control-label"> Valor de referência </label>
                <input asp-for="@Model.UnidadeValorNutricionais[i]" class="form-control" />
            </div>
            <div class="form-group col">
                <label class="control-label"> Valor de referência </label>
                <input asp-for="@Model.PercentagemVdrAdulto[i]" class="form-control" />
            </div>
        }

    </div>
    <!--THE HTML ABOVE IS HIDDEN-->
</form>
