
@model CriarReceitaViewModel
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Valores Nutricionais";
}

<h1> @Model.NomeDeReceita</h1>

<form asp-controller="CriarReceita" method="post" id="receitaForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @for (int i = 0; i < Model.ValorNutricionais.Count; i++) {
        <div class="form-group">
            <label asp-for="@Model.ValorNutricionais[i].Nome" class="control-label"></label>
            <input asp-for="@Model.ValorNutricionais[i].Nome" class="form-control" />
            <span asp-validation-for="@Model.ValorNutricionais[i].Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ValorNutricionais[i].PercentagemVdrAdulto" class="control-label"></label>
            <input asp-for="@Model.ValorNutricionais[i].PercentagemVdrAdulto" class="form-control" />
            <span asp-validation-for="@Model.ValorNutricionais[i].PercentagemVdrAdulto" class="text-danger"></span>
        </div>
    }

    <div class="form-group">
        <input asp-action="NovoValorNutricional" type="submit" value="Novo valor nutricional" class="btn btn-primary" />
    </div>

    <div class="form-group">
        <input asp-action="Index" type="submit" value="Submeter" class="btn btn-primary" />
    </div>


    <!-- THE BELLOW HTML IS HIDDEN -->
    <div class="container" style="visibility:hidden">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="NomeDeReceita" class="control-label"></label>
                    <input asp-for="NomeDeReceita" class="form-control" />
                    <span asp-validation-for="NomeDeReceita" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="sel1">Dificuldade:</label>
                    <select class="form-control" id="sel1" asp-for="DificuldadeStr" asp-items="Model.Dificuldades"></select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Minutos" class="control-label"></label>
                    <input asp-for="Minutos" class="form-control" />
                    <span asp-validation-for="Minutos" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Doses" class="control-label"></label>
                    <input asp-for="Doses" class="form-control" />
                    <span asp-validation-for="Doses" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Descricao</label>
            <br />
            <textarea class="form-control" rows="3" asp-for="Descricao" value="@Model.Descricao" form="receitaForm"> </textarea>
            <br />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div class="row">
            <label>Etiquetas</label>
            @for (int i = 0; i < Model.ReceitaEtiqueta.Count; i++) {
                <select asp-for="@Model.ReceitaEtiqueta[i].EtiquetaId" asp-items="Model.Etiquetas"></select>
            }
        </div>
        @for (int i = 0; i < Model.Processos.Count; i++) {
            @for (int j = 0; j < Model.Processos[i].Count; j++) {
                <div class="form-group">
                    <label class="control-label"> Tarefa @i</label>
                    <input asp-for="@Model.Processos[i][j]" class="form-control" />
                    <span asp-validation-for="@Model.Processos[i][j]" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input asp-action="NovaTarefa" type="submit" value="Adicionar tarefa" class="btn btn-primary" />
            </div>

        }

        @for (int i = 0; i < Model.UtilizacoesIngredientes.Count; i++) {
            <div class="form-group col">
                <label asp-for="@Model.UtilizacoesIngredientes[i].Nome" class="control-label"></label>
                <input asp-for="@Model.UtilizacoesIngredientes[i].Nome" class="form-control" />
                <span asp-validation-for="@Model.UtilizacoesIngredientes[i].Nome" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label class="control-label"> Quantidade </label>
                <input asp-for="@Model.Quantidades[i]" class="form-control" />
            </div>
            <div class="form-group col">
                <label asp-for="@Model.UtilizacoesIngredientes[i].Quantidade" class="control-label"></label>
                <input asp-for="@Model.UtilizacoesIngredientes[i].Quantidade" class="form-control" />
                <span asp-validation-for="@Model.UtilizacoesIngredientes[i].Quantidade" class="text-danger"></span>
            </div>
        }

    </div>
    <!--THE HTML ABOVE IS HIDDEN-->
</form>
