@model (List<Administrador> Administradores, List<Cliente> Clientes)
@{
    Layout = "_LayoutAutenticado";
    ViewData["Title"] = "Utilizadores";
}

@if (TempData["Sucesso"] != null)
{
    <p class="alert alert-success">@TempData["Sucesso"]</p>
}

<hr />

<div class="container-fluid" style="padding: 0px;">
    <div class="row">
        <div class="col-6 border-right">
            <h4>Administradores</h4>
            <a asp-action="AdicionarAdministrador">Adicionar administrador</a>
            <ul>
                @foreach (var administrador in Model.Administradores)
                {
                    <li>
                        @administrador.NomeDeUtilizador
                        @if (administrador.NomeDeUtilizador != User.Identity.Name)
                        {
                            <text>|</text>
                            <a asp-action="RemoverUtilizador" asp-route-nomeDeUtilizador="@administrador.NomeDeUtilizador">Remover</a>
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="col-6">
            <h4>Clientes</h4>
            <ul>
                @foreach (var cliente in Model.Clientes)
                {
                    <li>
                        @cliente.NomeDeUtilizador
                        @if (cliente.Email != null)
                        {
                            <text>(@cliente.Email)</text>
                        }
                        |
                        <a asp-action="RemoverUtilizador" asp-route-nomeDeUtilizador="@cliente.NomeDeUtilizador">Remover</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
